@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  overflow-y: hidden;
  position: relative;
}
body #root {
  height: 100%;
}
body #root .App {
  height: 100%;
}
body #root .App .main-bg {
  height: 100%;
  min-width: 33%;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}
body #root .App .flex-container {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}

.card-front {
  height: 210px;
  width: 355px;
  border-radius: 8px;
  padding: 22px;
  background-image: url("../../assets/image/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  flex-direction: column;
}
.card-front .card-logo {
  width: 70px;
}
.card-front .card-number {
  font-size: 20px;
  color: hsl(0deg, 0%, 100%);
  text-transform: none;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
}
.card-front .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.card-front .flex-box span {
  font-size: 12px;
  color: hsl(0deg, 0%, 100%);
  text-transform: none;
  letter-spacing: 1.5px;
}
.card-front .flex-box .name {
  text-transform: uppercase;
}

.card-back {
  height: 210px;
  width: 355px;
  border-radius: 8px;
  position: relative;
  background-image: url("../../assets/image/bg-card-back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-back .cvc {
  font-size: 14px;
  color: hsl(0deg, 0%, 100%);
  text-transform: none;
  letter-spacing: 1.5px;
  position: absolute;
  top: 95px;
  right: 20px;
}

form {
  max-width: 350px;
  width: 100%;
}
form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
form .form-group label {
  font-size: 12px;
  color: hsl(278deg, 68%, 11%);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
form .form-group input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: hsl(278deg, 68%, 11%);
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 1px;
  border-radius: 7px;
  padding: 0 15px;
  margin-top: 7px;
  border: none;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(279deg, 6%, 55%);
}
form .form-group input::placeholder {
  color: hsl(279deg, 6%, 55%);
  text-transform: none;
}
form .form-group .wrapper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
form .form-group .wrapper-box label:first-child {
  width: 83%;
}
form .form-group .wrapper-box .flex-box {
  display: flex;
  column-gap: 10px;
}
form button {
  width: 100%;
  height: 40px;
  background-color: hsl(278deg, 68%, 11%);
  border: none;
  border-radius: 7px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 14px;
  color: hsl(0deg, 0%, 100%);
  text-transform: capitalize;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}