// Colors
// Primary
$linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); // active input border
$red:hsl(0, 100%, 66%); // input errors

// Neutral
$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 3%, 87%);
$darkGrayishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

// Font Family
$spaceGrotesk: 'Space Grotesk', sans-serif;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;