body {
  height: 100vh;
  font-family: $spaceGrotesk;
  overflow-y: hidden;
  position: relative;

  #root {
    height: 100%;

    .App {
      height: 100%;

      .main-bg {
        height: 100%;
        min-width: 33%;
        position: absolute;
        @include positions(0%, 0%);
      }

      .flex-container {
        @extend %centeredElement;
        z-index: 10;
        @include flexProperty(space-between, center);
        column-gap: 100px;
      }
    }
  }
}